@font-face {
    font-family: Roboto;
    src: url(font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(font/Raleway/Raleway-Bold.ttf);
}

body {
    margin: 0px;
    padding: 0px;
}

/*----------------------------CABEÇALHO---------------------------------*/

#navbar {
    color: aliceblue;
    font-family: Raleway;
    position: fixed;
    background-color: #1E90FF;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 5px #000080;
}

#navbar a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 15px;
}

#navbar a:hover {
    background-color: #00BFFF;
}

#navTop {
    display: block;
    text-align: center;
}

#navBottom {
    display: flex;
    justify-content: space-evenly;
}

#navBottom a{
    text-decoration: none;
}

/*----------------------------MAIN---------------------------------*/

#conteudo {
    font-family: Roboto;
    margin-top: 150px;
    margin: 185px 30% 0px;
}

#conteudo p{
    font-size: 18px;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 16px;
    background-color: #1E90FF;
    font-family: Raleway;
}