@font-face {
    font-family: Roboto;
    src: url(font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(font/Raleway/Raleway-Bold.ttf);
}

body {
    margin: 0px;
    padding: 0px;
}

/*----------------------------CABEÇALHO---------------------------------*/

#navbar {
    color: aliceblue;
    font-family: Raleway;
    position: fixed;
    background-color: #1E90FF;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 5px #000080;
}

#navbar a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 15px;
}

#navbar a:hover {
    background-color: #00BFFF;
}

#navTop {
    display: block;
    text-align: center;
}

#navBottom {
    display: flex;
    justify-content: space-evenly;
}

#navBottom a{
    text-decoration: none;
}

/*----------------------------MAIN---------------------------------*/

#conteudo {
    font-family: Roboto;
    margin-top: 150px;
    margin: 185px 22% 0px;
}

#conteudo p{
    font-size: 18px;
}

#conteudo span {
    background-color: #00FFFF;
    font-weight: bold;
}

#conteudo img {
    width: 200px;
    float: left;
    margin-right: 42px;
}

#formacao p, #expProf p{
    margin: 5px 0 0 10px;
}

#formacao, #expProf {
    line-height: 1.9;
}

#formacao a {
    text-decoration: none;
    color: black;
}

#expProf h3{
    display: inline;
}

#skills{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

#skill{
    background-color: #B0E0E6aa;
    padding: 10px 15px;
    border-radius: 15px;
}

#rede{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    height: 40px;
}

#rede img{
    margin-right: 10px;
    width: 28px;
}

#rede a{
    text-decoration: none;
}